@font-face {
    font-family: 'Magic';
    src: url('/src/assets/MAGIC.TTF');
}

#app-wrapper {
    height: 100vh;
    background-image: url('/src/assets/Seyda_Neen_-_Morrowind.webp');
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url('/src/assets/cursor.png'), auto;

    // Morrowind journal font
    font-family: 'Magic', 'Arial';
}

#app-instructions {
    background-color: black;
    border-width: 10px;
    border-color: black
}
