#app-wrapper {
    height: 100vh;
    background-image: url('/src/assets/Seyda_Neen_-_Morrowind.webp');
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
}

// also see _div .mw class
#app-instructions {
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vh;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3.5rem;
}