#app-wrapper {
    height: 100vh;
    background-image: url('/src/assets/Seyda_Neen_-_Morrowind.webp');
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url('/src/assets/cursor.png'), auto;

    .temp {
        font-size: 5rem;
        background-color: green;
    }
}
