#inventory {
    font-size: 5rem;

    .inventory-section {
        .inventory-section-title-group {
            display: flex;
            
            .inventory-section-title-texture {
                background-image: url('/src/assets/texture.png');
                background-repeat: repeat;
                flex-grow: 1; // texture to fill entire inventory-section-title-group
            }
            
            .inventory-section-title-text {
                flex-grow: 0;
                padding: 0.5rem 2rem; // black space on sides of title text
            }
        }

        .inventory-section-content {
            height: 100px;
        }
    }
}