#inventory {
    font-size: 5rem;

    .inventory-section {
        .inventory-section-title-group {
            display: flex;
            flex-direction: row;
            background-color: teal; // this should not be visible
            
            .inventory-section-title-texture {
                background-image: url('/src/assets/texture.png');
                background-repeat: repeat;
                flex-grow: 1; // texture to fill entire inventory-section-title-group
            }
            
            .inventory-section-title-text {
                background-color: thistle;
                flex-grow: 0;
            }
        }

        .inventory-section-content {
            height: 100px;
        }
    }
}