#inventory {
    font-size: 1.5rem;

    // transclucent black bg
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;

    display: grid;
    // change these
    grid-template-columns: 1fr 1fr min-content;
    grid-template-rows: 1fr 1fr 1fr;

    .inventory-section {
        height: max-content;

        .inventory-section-title-group {
            display: flex;
            
            .inventory-section-title-texture {
                background-image: url('/src/assets/texture.png');
                background-repeat: repeat;
                flex-grow: 1; // texture to fill entire inventory-section-title-group
            }
            
            .inventory-section-title-text {
                flex-grow: 0;
                padding: 0.5rem 2rem; // black space on sides of title text
            }
        }

        .inventory-section-content {
            overflow: scroll;

            border-style: solid;
            border-width: 0.25rem;
            border-color: $mw-dark;  
            
            outline-style: solid;
            outline-width: 0.25rem;
            outline-color: black;
        }
    }

    // Specific sections:

    // Skills section
    #inventory-section-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    // Map section
    #inventory-section-2 {
        grid-column: 3/4;
        grid-row: 1/2;

        .inventory-section-content {
            display: flex;
            justify-content: center;
        }
    }

    // Magic items section
    #inventory-section-3 {
        grid-column: 3/4;
        grid-row: 2/3;

        .inventory-magic-section-flexbox {
            display: flex;
            justify-content: space-between;
        }
    }

    .inventory-light-text {
        color: $mw-light;
    }

    hr {
        border-color: $mw-light;
    }
}

.inventory-section-inner-box {
    border-style: solid;
    border-width: 0.2rem;
    border-color: $mw-dark;

    margin: 0.5rem;
    padding: 0.3rem;
}