@font-face {
    font-family: 'Magic';
    src: url('/src/assets/MagicCardsNormal.ttf');
}

#journal {
    // Center background
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: yellow;
    background-image: url('/src/assets/journal.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;

    // Morrowind journal font
    font-family: 'Magic', 'Arial';
}