@font-face {
    font-family: 'Magic';
    src: url('/src/assets/MAGIC.TTF');
}

#journal {
    // Journal fill exactly height of vh, and remain in place
    position: fixed;
    height: 100vh;
    width: 147vh; // Calculated from journal.png aspect ratio
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // BG image size == journal div size
    background-image: url('/src/assets/journal.png');
    background-color: beige;
    background-repeat: no-repeat;
    background-size: contain;

    // Morrowind journal font
    font-family: 'Magic', 'Arial';

    // Display 2 entries in a grid
    display: grid;
    grid-template-columns: 1fr 1fr;
    // Temporary, move this
    .journal-entry {
        padding: 2.5rem;
    }

}