// Journal and its child components
#journal {
    // Journal fill exactly height of vh, and remain in place
    position: fixed;
    height: 100vh;
    width: 147vh; // Calculated from journal.png aspect ratio
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // BG image size == journal div size
    background-image: url('/src/assets/journal.jpg');
    background-color: hsl(0, 100%, 17%);
    background-repeat: no-repeat;
    background-size: contain;

    // Display 2 entries, and prev&next, in a grid
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 95vh 5vh;

    // Paddings are genuinely grotesque but get job done (since journal bg is in vh unit)
    .journal-entry {
        font-size: 2.75rem;
        padding-top: 5vh;
        h2 {
            // title
            font-weight: bold;
            color: hsl(0, 100%, 37%);
        }

        span {
            color: hsl(250, 100%, 37%);
        }
    }

    #journal-entry-left {
        padding-left: 10vh;
        padding-right: 4vh;
    }

    #journal-entry-right {
        padding-left: 4vh;
        padding-right: 10vh;
    }

    // Prev and next buttons
    .journal-turn-page {
        font-size: 3rem;
        text-align: center;
        color: hsl(0, 100%, 37%);
        text-shadow: 10px 0px 10px hsl(0, 0%, 73%);
    }
}