/* 
	CSS Reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Magic";
  src: url("/src/assets/MAGIC.TTF");
}
:root {
  cursor: url("/src/assets/cursor.png"), auto;
  font-family: "Magic", "Arial";
}

.mw {
  background-color: black;
  border-style: solid;
  border-width: 0.5rem;
  border-color: hsl(42deg, 38%, 51%);
  color: hsl(42deg, 38%, 51%);
}

#journal {
  position: fixed;
  height: 100vh;
  width: 147vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/src/assets/journal.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 95vh 5vh;
}
#journal .journal-entry {
  font-size: 2.75rem;
  padding-top: 5vh;
}
#journal .journal-entry h2 {
  font-weight: bold;
  color: hsl(0deg, 100%, 37%);
}
#journal .journal-entry span {
  color: hsl(250deg, 100%, 37%);
}
#journal #journal-entry-left {
  padding-left: 10vh;
  padding-right: 4vh;
}
#journal #journal-entry-right {
  padding-left: 4vh;
  padding-right: 10vh;
}
#journal .journal-turn-page {
  font-size: 3rem;
  text-align: center;
  color: hsl(0deg, 100%, 37%);
  text-shadow: 10px 0px 10px hsl(0deg, 0%, 73%);
}

#app-wrapper {
  height: 100vh;
  background-image: url("/src/assets/Seyda_Neen_-_Morrowind.webp");
  background-color: green;
  background-size: cover;
  background-repeat: no-repeat;
}

#app-instructions {
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
}

#inventory {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#inventory .inventory-section {
  min-width: 750px;
  max-width: 50%;
  height: max-content;
}
#inventory .inventory-section .inventory-section-title-group {
  display: flex;
}
#inventory .inventory-section .inventory-section-title-group .inventory-section-title-texture {
  background-image: url("/src/assets/texture.png");
  background-repeat: repeat;
  flex-grow: 1;
}
#inventory .inventory-section .inventory-section-title-group .inventory-section-title-text {
  flex-grow: 0;
  padding: 0.5rem 2rem;
}
#inventory .inventory-section .inventory-section-content {
  overflow: scroll;
}
#inventory .inventory-section .inventory-section-content img {
  object-fit: fill;
}
#inventory .inventory-section .inventory-magic-section-flexbox {
  display: flex;
  justify-content: space-between;
}
#inventory .inventory-section .inventory-light-text {
  color: hsl(42deg, 61%, 69%);
}

/*# sourceMappingURL=style.css.map */
